# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Mac OS
.DS_Store

# Gereksiz dosyalar (Kullanılmayan eski scriptler ve şablonlar)
gereksiz/
docs/

# YOLO çalışma dosyaları ve ağırlık dizinleri
results/
